header nav {
       background-color: lightgray; 
       text-align: center;
       padding: 10px;
     }
header nav a {
       display: inline; 
       padding: 5px;
     }
body{
  margin-left: 4%;
  margin-right: 4%;
}
#img{
  display: block;
}

p{
  width: 45%;
}